<div class="cards">
  <div class="card user">
    <div class="circle">
      <div class="icon"><span class="material-symbols-outlined">
        group
        </span></div>
    </div>
    <p>Total users</p>
    <h3><span class="count">{{userCount}}</span></h3>
  </div>

  <div class="card categorys" >
    <div class="circle">
      <div class="icon">
        <span class="material-symbols-outlined">
          category
          </span>
      </div>
    </div>
    <p>Total Category</p>
    <h3><span class="count">{{productCount}}</span></h3>
  </div>

  <div class="card organizations" >
    <div class="circle">
      <div class="icon">
        <span class="material-symbols-outlined">
          corporate_fare
          </span>
      </div>
    </div>
    <p>Total Organization</p>
    <h3><span class="count">{{organizationCount}}</span></h3>
  </div>

  <div class="card producents" >
    <div class="circle">
      <div class="icon">
        <span class="material-symbols-outlined">
          design_services
          </span>
      </div>
    </div>
    <p>Total Producents</p>
    <h3><span class="count">{{producentsCount}}</span></h3>
  </div>
  
  <div class="card products" >
    <div class="circle">
      <div class="icon">
        <span class="material-symbols-outlined">
          <span class="material-symbols-outlined">
            widgets
            </span>
          </span>
      </div>
    </div>
    <p>Total Products</p>
    <h3><span class="count">{{productCount}}</span></h3>
  </div>

  <div class="card roles" >
    <div class="circle">
      <div class="icon">
         <span class="material-symbols-outlined">
          altitude
          </span>
      </div>
    </div>
    <p>Total Roles</p>
    <h3><span class="count">{{rolesCount}}</span></h3>
  </div>

  <div class="card suppliers">
    <div class="circle">
      <div class="icon">
        <span class="material-symbols-outlined">
          local_shipping
          </span>
      </div>
    </div>
    <p>Total Suppliers</p>
    <h3><span class="count">{{supplierCount}}</span></h3>
  </div>
</div>


<div class="belt"></div>
