<div class="organizationsModel">
    <p class="title"><span class="material-symbols-outlined">  corporate_fare  </span> Organizations</p>
    <label class="search">
        <input type="search" #searchInputOrg (input)="search(searchInputOrg.value)" placeholder="Organization Name...">
    </label>
    <table>
        <thead>
            <tr>
                <th>Nb</th>
                <th>Name</th>
                <th>City</th>
                <th>Owner Name</th>
                <th>Owner Surname</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let organization of filteredOrganizations; let i = index" [ngClass]="{'even': i % 2 === 0}" class="list" (click)="toggleInfo(organization.id)">
                <td>{{ i}}</td>
                <td>{{organization.name}}</td>
                <td>{{organization.city}}</td>
                <td>{{organization.ownerName}}</td>
                <td>{{organization.ownerSurname}}</td>
            </tr>
        </tbody>
    </table>
    <p class="addUserBtn" (click)="toggleAddOrganization()">
        <span class="material-symbols-outlined"> add_circle </span> Add Organization
    </p> 
</div>

<app-organizations-cover *ngIf="activeInfo"
    [selectedOrganization]="selectedOrganization"
    class="modal"
    [isEditMode]="isEditMode"
    (closeModalEvent)="handleModalClose()">
</app-organizations-cover>

