.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;

}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

label {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-right: 10px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 15px;
}
.list-group-item {
  position: relative;
  background-color: #ecf0f1;
  color: #333;
  margin: 5px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
  list-style: none;
}

.list-group-item:hover {
  background-color: #d5d5d5;
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.visible {
  opacity: 1;
}

.list-group-item:hover .actions {
  opacity: 1;
}

.btn-primary {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
