.input-heading {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    border: none;
    outline: none;
    width: 30%;
  }
  .input-heading:focus {
    outline: none;
  }
  span{
    cursor: pointer;
    transition: 400ms;
    margin-left: 10px;
    font-size: 10px;
    border-radius: 50px;
    display: inline;
    padding: 10px 20px;;
  }
  span:hover{
    border:2px solid #121A2F;
}

